<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css%}
    {% bootstrap_javascript%}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "category_list" %}">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "question_list" %}">Questions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "user_list" %}">Users</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Create
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url "category_create" %}">Category</a></li>
                      <li><a class="dropdown-item" href="{% url "subcategory_create" %}">Subcategory</a></li>
                      <li><a class="dropdown-item" href="{% url "user_create" %}">User</a></li>
                      <li><a class="dropdown-item" href="{% url "question_create" %}">Question</a></li>
                      <li><a class="dropdown-item" href="{% url "answer_create" %}">Answer</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        
    </footer>
</body>
</html>